@media all and (min-width: 1024px) {
  .header__goback {
    font-size: 32px;
  }

  .footer__logo {
    width: 137px;
    margin: 0;
  }

  .fonctionnement__list {
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }

  .fonctionnement__step {
    width: 30%;
  }

  .page__resto--img {
    height: 400px;
  }

  .heading {
    max-width: 1024px;
    margin: auto;
  }

  .heading__block {
    width: 400px;
    height: 41px;
    justify-content: center;
  }

  .heading__block h2 {
    display: flex;
    font-size: 40px;
    width: 95%;
  }

  .slight__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .menu-list__heading {
    font-size: 22px;
  }
}

@media all and (min-width: 768px) {

  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }

  .footer__logo {
    width: 137px;
    margin: 0;
  }

  .footer__block {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }

  .footer__nav {
    width: 190px;
  }

  .footer__nav--info p {
    width: 130px;
    height: 20px;
  }

  .resto__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resto__cards {
    width: 48%;
    margin: 0;
    margin-bottom: 4%;
  }

  .heading__block {
    width: 400px;
    height: 41px;
    justify-content: center;
  }

  .heading__block h2 {
    display: flex;
    font-size: 35px;
    width: 95%;
  }

  .menu-list {
    width: 100%;
  }
}