/* Heart fill */
@keyframes heart-fill {
  0% {
    opacity: (0);
    transform: scale(0.2)
  }
  
  15% {
    opacity: (.25);
  }

  80% {
    opacity: (1);
    transform: scale(1);
  }

  85% {
    opacity: (1);
    transform: scale(1.1);
  }

  95% {
    opacity: (1);
    transform: scale(1.05);
  }

   100% {
    opacity: (1);
    transform: scale(1);
  }
}

/* CSS pour les éléments d'entrée */
.menu-list:nth-child(1) .menu-cards {
  animation: appearEntrance 1.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de plat */
.menu-list:nth-child(2) .menu-cards {
  animation: appearPlat 5.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de dessert */
.menu-list:nth-child(3) .menu-cards {
  animation: appearDessert 9.5s ease forwards;
  opacity: 0;
}

/* Animation pour les éléments d'entrée */
@keyframes appearEntrance {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour les éléments de plat */
@keyframes appearPlat {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour les éléments de dessert */
@keyframes appearDessert {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour le loader spinner */

@keyframes loading-appear {
  50% {
    opacity: 0.95;
  }

  99% {
    z-index: 21;
  }

  100% {
    opacity: 0;
    z-index: -20;
  }
}

@keyframes move {

  0%,
  5% {
    left: -32px;
    width: 16px;
  }

  15%,
  20% {
    left: -32px;
    width: 48px;
  }

  30%,
  35% {
    left: 0px;
    width: 16px;
  }

  45%,
  50% {
    left: 0px;
    width: 48px;
  }

  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }

  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}