/****** Variables CSS ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --pure-white: #fff;
}

/****** General ***********/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 3.12rem;
    gap: 2.18rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

:focus {
    outline: none;
}

.fa-solid {
    color: var(--main-color);
}

.fa-xs {
    line-height: 0;
}

.section-title {
    font-size: 1.3rem;
}

.card,
.card-100 {
    display: flex;
    background-color: var(--pure-white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-link {
    border-radius: 1.25rem;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 0.87rem;
}

.euro {
    font-weight: 600;
}

.neutral-star {
    color: var(--main-bg-color)
}

fieldset,
button,
input {
    border: none;
}


/****** Hoover & Focus ***********/

.btn-menu:hover,
.btn-menu:focus {
    color: var(--main-color);
    border-top: 0.12rem solid var(--main-color);
    padding-top: 0.87rem;
}

.filter-bar-btn:hover,
.filter-bar-btn:focus {
    background-color: var(--filter-bg-color);
}

.hebergements-title2:hover {
    color: var(--main-color);
}

footer a:hover {
    color: var(--main-color);
}



/* Header*/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.87rem 3.12rem;
}

header img {
    width: 3.81rem;
    height: 1.18rem;
    margin: 1.87rem 3.12rem;
}

.menu {
    display: flex;
    gap: 4.25rem;
    margin: 0 3.12rem;

}


.btn-menu {
    display: inline-block;
    padding-top: 1rem;
}



/* Styles pour la barre de recherche */

.search-bar {
    display: flex;
    justify-content: flex-start;
    margin-left: -0.2rem;
}

.search-bar fieldset {
    display: flex;
    width: 23rem;
}

.search-bar input {
    text-align: center;
    border-top: 0.12rem solid var(--main-bg-color);
    border-bottom: 0.12rem solid var(--main-bg-color);
}

::placeholder {
    font-weight: 700;
    font-size: larger;
    color: black ;
    opacity: 1;

}

.search-bar i:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: 3.12rem;
    height: 3.12rem;
    background-color: var(--main-bg-color);
    border-radius: 0.93rem 0 0 0.93rem;
}

.search-button {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--pure-white);
    font-weight: 700;
    border-radius: 0 0.93rem 0.93rem 0;
    background-color: var(--main-color);
    cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
    display: none;
    /* faire disparaitre la loupe */
    color: white;
}


/* Styles pour la barre de filtre */

.filter-block,
.filter-bar,
.filter-option {
    display: flex;
    gap: 0.93rem;
}

.filter-block {
    align-items: center;
    margin-top: 1.5rem;
}

.filter-block h2 {
    font-size: 1.12rem;
    font-weight: 700;
}

.filter-bar-btn-txt {
    font-size: 1rem;
    font-weight: 700;
}

.filter-bar-btn {
    display: flex;
    align-items: center;
    height: 3.12rem;
    border: 0.20rem solid var(--main-bg-color);
    border-radius: 1.56rem;
    padding: 0 1.18rem;
}

.filter-bar i.fa-solid {
    margin-right: 0.62rem;
    font-size: 1.37rem;
}


/*Style texte d'info */

.info-bar {
    display: flex;
    align-items: center;
    gap: 0.62rem;
    height: 1.5rem;
    margin-top: 2.19rem;
}

.info-bar i {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    font-size: 0.62rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.hebergements,
.populaires {
    background-color: var(--main-bg-color);
    display: flex;
    padding: 1.87rem;
    border-radius: 20px;
    padding-top: 1rem;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    flex-direction: column;
    gap: 1.87rem;
}

.hebergements .hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.87rem;
}

.hebergements .card-link {
    width: calc((1 / 3) * (100% - 3.75rem));
}

.hebergements .card {
    flex-direction: column;
    height: 100%;
    gap: 0.25rem;
    padding-bottom: 0.93rem;
}


.hebergements img {
    width: 100%;
    height: 7.75rem;
    border: -2.69rem solid var(--pure-white);
    border-radius: 1.25rem 1.25rem 0 0;

}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.93rem;

}

.hebergements .card-rating {
    width: 5.06rem;
    display: flex;
    justify-content: space-between;
    height: 0.82rem;
    color: var(--main-color);
    margin-top: auto;
}

.hebergements .card-title {
    margin-top: 5px;
    margin-bottom: auto;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    flex-direction: column;
    gap: 1.87rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
    width: 100%;
}

.populaires .card {
    flex-direction: row;
    width: 100%;
}

.populaires img {
    height:
        /*146px*/
        9.12rem;
    width: calc(100% / 3);
    border: -0.69rem solid white;
    border-radius: 1.25rem 0 0 1.25rem;
}

.populaires .card-content {
    width: calc(2 * 100% / 3);
    display: flex;
    flex-direction: column;
    margin: 0.31rem 0;
    padding-left: 0.93rem;
    padding-right: 0.31rem;
}

.populaires .card-rating {
    width:
        /*68px*/
        4.25rem;
    height:
        /*12px*/
        0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.95em;
    margin-top: auto;
    margin-bottom: 0.31rem;
    color: var(--main-color);
}

.populaires .card-title {
    margin: auto;

}

.populaires .card-subtitle {
    margin: auto;
}

.fa-chart-line {
    color: var(--main-color);
}


/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
    padding: 1.87rem;
}

.activites img {
    height: 23.75rem;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activites-cards {
    display: flex;
    width: 100%;
    gap: 1.87rem;
}

.card-100 {
    flex-direction: column;
    padding: 0;
}

.activites .card-link {
    width: 100%;
}

.activites h3 {
    display: flex;
    align-items: center;
    height: calc(25rem - 23rem);
    /*400px - 380px)*/
    padding: 0 1.18rem;
    font-size: 1rem;
}



/****** Footer ***********/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin: 2.18rem 3.12rem 0 3.12rem;

}

footer div {
    padding: 1.25rem 0 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}


footer h2 {
    font-size: 1.12rem;
    margin-bottom: 5px;
}


footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.3rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(214, 49%, 54%);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /* ---- Header ---- */
    header {
        width: 100%;
    }

    /* ---- Filters ---- */  
    .filter-bar-btn-txt {
        font-size: 1rem;
    }

    .filter-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
    }

    /* ---- Hébergemrnts ---- */  
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        gap: 3.12rem;
    }

    /* ---- Hébergements à Marseille ---- */ 
    .hebergements {
        width: 100%;
    }

    /* ---- Populaires ---- */ 
    .populaires {
        width: 100%;
        gap: 1.25rem;
    }

    .populaires .card-title { 
        margin-top: 0.3rem;
        padding: 0;
        font-size: 0.9rem;
    }

    .populaires .card-subtitle {
        margin-top: 0.5rem;
    }

    .populaires-cards {
        flex-direction: row;
        gap: 1.25rem;
    }

    .populaires .card-link {
        width: calc((100% - 2.5rem) / 3);
    }

    /* ---- Activites ---- */  
    .activites img {
        height: /*200px*/ 12.5rem;
    }

    .activites h3 {
        height: /*70px*/ 4.37rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ---- Base ---- */  
    main {
        padding: 0;
    }

    /* ---- Header ---- */
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin: /*30px*/ 1.87rem;
    }

    nav {
        width: 100%;
    }

    .navbar {
        margin: 0;
        gap: 0;
    }

    .navbar a {
        width: 50%;
    }

    .btn-menu {
        width: 100%;
        padding-bottom: 0.93rem;
        text-align: center;
        padding-top: 0;
        border-bottom: 0.12rem solid #F2F2F2;
    }

    .btn-menu:hover,
    .btn-menu:focus {
        padding-top: 0;
        border-top: none;
        border-bottom: 0.12rem solid var(--main-color);
    }

    /* ---- Info & Filters ---- */
    .info-filter {
        padding: 0 1.25rem;

    }


    /* Info */

    .headline h2 {
        font-size: 1.2rem;
    }

    /* ---- Button search ---- */
    .search-bar fieldset {
        width: 100%;
    }

    .search-bar input {
        text-align: left;
        padding-left: 1.5rem;
    }

    .search-button {
        border-radius: 0.93rem;
        margin-left: -0.93rem;
    }

    .search-button span {
        display: none;
    }

    .search-button i {
        display: flex;
        color: var(--pure-white);
    }

    .fa-solid.fa-magnifying-glass {
        display: block;
        color: white;
        font-size: large;
        }

    /* ---- Filters ---- */  
    .filter-bar {
        /* flex-direction: column; */ 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
    }

    .filter-bar-btn {
        width: calc(100%/2);
        justify-content: center;
    }

    .filter-bar-btn-txt {
        font-size: 0.87rem;
    }

    /* ---- Hébergemrnts ---- */ 
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0.93rem;
    }

    .hebergements,
    .populaires {
        border-radius: 0;
    }

    /* ---- Populaires ---- */
    .populaires {
        padding: 1.87rem 1.25rem;
        gap: 0.93rem;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0.93rem;
    }

    .populaires .card-link {
        width: 100%;
    }

    /* ---- Hébergements à Marseille ---- */
    .hebergements {
        padding: 1.25rem;
        gap: 0.93rem;
        background-color: white;
    }

    .hebergements-cards {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.93rem;
    }

    .hebergements .card-link {
        width: 100%;
    } 

    .hebergements .card-link:nth-child(1) {
        order: 1;
    }
    .hebergements .card-link:nth-child(2) {
        order: 6;
    }
    .hebergements .card-link:nth-child(3) {
        order: 3;
    }
    .hebergements .card-link:nth-child(4) {
        order: 4;
    }
    .hebergements .card-link:nth-child(5) {
        order: 2;
    }
    .hebergements .card-link:nth-child(6) {
        order: 5;
    }
    
    
 
    /* ---- Activites ---- */
    .activites-cards {
        flex-direction: column;
        gap: 0.93rem;
    }

    .activites img {
        height: /*141px*/ 8.81rem;
    }

    .activites h3 {
        height: 3.68rem;
    }

    .activites .cardlink {
        width: 100%;
    }

    /* ---- Footer ---- */
    footer {
        flex-direction: column;
        padding: 1.87rem 0 1.87rem 1.87rem;
        margin: 2.18rem 0 0 0;
        gap: 3.12rem;
    }

    footer section {
        width: 100%;
        padding: 0;
    }
}

